{% extends 'base.html' %}
{% block content %}
<div style="margin-top:15px;" class="container">
    <div class="row">

        <!-- Formulário de para informações da nova pessoa -->

        <form class="col s12" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="input-field col s12">

                    <select id="produto" name="produto" required="required">
                        <option value="" disabled selected>Produto</option>
                        {% for produto in produtos %}
                        <option value="{{ produto.id }}">{{ produto.id }} | {{ produto.produto }}</option>
                        {% endfor %}
                    </select>
                    <label for="produto">Produto</label>

                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">

                    <select id="comprador" name="comprador" required="required">
                        <option value="" disabled selected>Comprador</option>
                        {% for comprador in compradores %}
                        <option value="{{ comprador.id }}">{{ comprador.nome }}</option>
                        {% endfor %}
                    </select>
                    <label for="comprador">Comprador</label>

                </div>
            </div>

            <div class="row">

                <div class="input-field col s12">
                    <input required="required" placeholder="Data de Venda" name="data_venda"
                           id="data_venda" type="text" class="datepicker">
                    <label for="data_venda">Data de Recebimento</label>
                </div>

            </div>

            <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                <i class="material-icons right">send</i>
            </button>

        </form>

    </div>
</div>
{% endblock %}