{% extends 'base.html' %}
{% block content %}
<div>

    <!-- Formulário para realizar pesquisa -->

    <form>
        {% csrf_token %}
        <div class="row">
            <input class="col offset-s2 s7" type="text" name="search" placeholder="Procurar">

            <button style="margin-left:-70px; margin-top:5px;" class="btn-flat" type="submit" name="action"><i
                    class="material-icons right">search</i>
            </button>

        </div>
    </form>

    <!-- Tabela de vendas -->

    <table class="striped responsive-table centered">
        <thead>
        <tr>

            <th>Fornecedor</th>
            <th>Comprador</th>
            <th>Id Produto</th>
            <th>Produto</th>
            <th>Cor</th>
            <th>Marca</th>
            <th>Tamanho</th>
            <th>Valor</th>
            <th>Data Rec</th>
            <th>Data Venda</th>

        </tr>
        </thead>
        <tbody>

        <!-- Loop por todos os produtos recebidos -->

        {% for venda in vendas %}
        <tr>

            <td>{{ venda.produto.fornecedor }}</td>
            <td>{{ venda.comprador }}</td>
            <td>{{ venda.produto.id }}</td>
            <td>{{ venda.produto.produto }}</td>
            <td>{{ venda.produto.cor }}</td>
            <td>{{ venda.produto.marca }}</td>
            <td>{{ venda.produto.tamanho }}</td>
            <td>{{ venda.produto.valor }}</td>
            <td>{{ venda.produto.data_recebimento }}</td>
            <td>{{ venda.data_venda }}</td>

        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<!-- Botão flutuante para adicionar novo produto -->

<div class="fixed-action-btn">

    <a href="/new_venda" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>

</div>
{% endblock %}